env 
__pycache__/__init__.cpython-311.pyc
__pycache__/config_flow.cpython-311.pyc
__pycache__/const.cpython-311.pyc
__pycache__/weather_processing.cpython-311.pyc
__pycache__/camera.cpython-311.pyc
__pycache__/sensor.cpython-311.pyc
